# Git
.git
.gitignore

# IDE files
*.dcu
*.ppu
*.exe
*.dll
*.so

# Exclude compiled object files
*.obj
*.o

# Build outputs
*.exe
*.dll

# Documentation
*.md
*.txt
*.html

# Demos (not needed for tests)
Demos/

# Other test files (we need Advanced and IntegerOverflowTest from Simple)

# IDE project files
*.dproj
*.dpr.local
*.identcache

# Other
*.a
